<div aria-live="polite" aria-atomic="true" style="position: relative;">
    <!-- Position it -->
    <div class="container-toast mt-4 mr-4" style="position: absolute; top: 0; right: 0; z-index: 1;min-width: 200px">

        <!-- Then put toasts within -->

    </div>
</div>