<div class="row justify-content-center align-items-center" style="height: 100%">
    <div class="col-8">
        <label for="message" class="form-label">Message</label>
        <ul class="form-control" id="messages" style="height: 400px; list-style-type: none;">

        </ul>
        <div class="form-group">
            {{!-- <textarea class="form-control" rows="3" placeholder="Enter message..."></textarea> --}}
            <input class="form-control" type="text" placeholder="Enter message...">
        </div>
        <button class="btn btn-primary mt-2">Send</button>
    </div>
</div>